profiles {
    imbaimp {
        includeConfig 'conf/impimba.config'
        includeConfig 'conf/params.config'
    }
    standard {
        includeConfig 'conf/ii2.config'
        includeConfig 'conf/params.config'
    }
}

params.outdir = './results'

timeline {
  enabled = true
  file = "${params.outdir}/SAM-smRNAseq_timeline.html"
}

trace {
  enabled = true
  file = "${params.outdir}/SAM-smRNAseq_trace.txt"
}

report {
  enabled = true
  file = "${params.outdir}/SAM-smRNAseq_report.html"
}

workDir = "/scratch-ii2/users/reichholf/nxf_work"

manifest {
  homePage = 'https://github.com/breichholf/smRNAseq'
  description = 'Nextflow smallRNA-Seq analysis pipeline, used in Ameres Lab, IMBA.'
}
