profiles {
    standard {
        includeConfig 'conf/impimba.config'
        includeConfig 'conf/params.config'
    }
    ii2 {
        includeConfig 'conf/ii2.config'
        includeConfig 'conf/params.config'
    }
}

params.outdir = './results'

timeline {
  enabled = true
  file = "${params.outdir}/NGI-RNAseq_timeline.html"
}
trace {
  enabled = true
  file = "${params.outdir}/NGI-RNAseq_trace.txt"
}

manifest {
  homePage = 'https://github.com/breichholf/smRNAseq'
  description = 'Nextflow smallRNA-Seq analysis pipeline, used in Ameres Lab, IMBA.'
}
