process {
    executor = "slurm"
    time = { 2.h * task.attempt }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 3
    scratch = '/scratch-ii2/users/reichholf/nextflow'

    $extractHairpins {
        queue = 'work'
        time = '10s'
        memory = '50 MB'
        clusterOptions = '--qos=short'
        module = "build-env/170803:BEDTools/2.25.0-foss-2017a:SAMtools/1.4-foss-2017a"
    }

    $makeIndex {
        queue = 'work'
        time = '10m'
        memory = '100 MB'
        clusterOptions = '--qos=short'
        module = "build-env/170803:Bowtie/1.2.1.1-foss-2017a:SAMtools/1.4-foss-2017a"
    }

    $trim_adapter {
        queue = 'work'
        time = '1.h'
        memory = '120 MB'
        clusterOptions = '--qos=short'
        module = "build-env/170803:cutadapt/1.9.1-foss-2017a-Python-2.7.13"
    }

    $trim_4N {
        queue = 'work'
        time = '10m'
        memory = '150 MB'
        clusterOptions = '--qos=short'
    }

    $bowtie_hairpins {
        module = "build-env/170803:Bowtie/1.2.1.1-foss-2017a:SAMtools/1.4-foss-2017a"
        cpus = 6
        queue = 'work'
        time = '2.5h'
        memory = '1 GB'
        clusterOptions = '--qos=short'
        penv = "smp"
    }

    $post_alignment {
        queue = 'work'
        time = '30.m'
        memory = '1.5 GB'
        clusterOptions = '--qos=short'
        module = "build-env/170803:SAMtools/1.4-foss-2017a"
    }

    $writeJson {
        queue = 'work'
        time = '1.m'
        memory = '50 MB'
        clusterOptions = '--qos=short'
        module = "build-env/170803:Python/2.7.13-foss-2017a"
    }

    $alignmentStats {
        queue = 'work'
        cpus = 20
        time = '5.h'
        memory = '200 GB'
        clusterOptions = '--qos=short'
        module = "build-env/170803:R/3.4.0-foss-2017a-X11-20170314"
    }

    $mutationStats {
        queue = 'work'
        cpus = 24
        time = '24.h'
        memory = '100 GB'
        clusterOptions = '--qos=medium'
        module = "build-env/170803:R/3.4.0-foss-2017a-X11-20170314"
    }
}
