process {
    executor = "slurm"
    time = { 2.h * task.attempt }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 3
    scratch = '/scratch-ii2/users/reichholf/nextflow'

    $extractHairpins {
        queue = 'work'
        time = '30s'
        memory = '750 MB'
        clusterOptions = '--qos=short'
        module = "bedtools/2.27.0-foss-2017a:samtools/1.4-foss-2017a:gcccore/6.3.0"
    }

    $makeIndex {
        queue = 'work'
        time = '10m'
        memory = '400 MB'
        clusterOptions = '--qos=short'
        module = "bowtie/1.2.2_p1-foss-2017a:samtools/1.4-foss-2017a:gcccore/6.3.0"
    }

    $trim_adapter {
        queue = 'work'
        time = '45m'
        memory = '400 MB'
        clusterOptions = '--qos=short'
        module = "cutadapt/1.16-foss-2017a-python-2.7.13"
    }

    $trim_4N {
        queue = 'work'
        time = '10m'
        memory = '200 MB'
        clusterOptions = '--qos=short'
    }

    $bowtie_hairpins {
        module = "bowtie/1.2.2_p1-foss-2017a:samtools/1.4-foss-2017a:gcccore/6.3.0"
        cpus = 12
        queue = 'work'
        time = '2.h'
        memory = '1.75 GB'
        clusterOptions = '--qos=short'
        penv = "smp"
    }

    $post_alignment {
        queue = 'work'
        time = '10.m'
        memory = '1.75 GB'
        clusterOptions = '--qos=short'
        module = "samtools/1.4-foss-2017a"
    }

    $writeJson {
        queue = 'work'
        time = '1.m'
        memory = '4 GB'
        clusterOptions = '--qos=short'
        module = "python/2.7.13-foss-2017a"
    }

    $alignmentStats {
        queue = 'work'
        cpus = 28
        time = '1.25h'
        memory = '10 GB'
        clusterOptions = '--qos=short'
        module = "r/3.4.1-foss-2017a-x11-20170314:gcccore/6.3.0"
    }

    $mutationStats {
        queue = 'work'
        cpus = 28
        time = '12.h'
        memory = '80 GB'
        clusterOptions = '--qos=long'
        module = "r/3.4.1-foss-2017a-x11-20170314:gcccore/6.3.0"
    }
}
