process {
    executor = "slurm"

    $extractHairpins {
        queue = 'work'
        time = '10s'
        memory = '50 MB'
        module = "BEDTools/2.25.0-foss-2017a:SAMtools/1.4-foss-2017a"
    }

    $makeIndex {
        queue = 'work'
        time = '30s'
        module = "Bowtie/1.1.2-foss-2017a:SAMtools/1.4-foss-2017a"
    }

    $trim_adapter {
        queue = 'work'
        time = '30m'
        memory = '120 MB'
        module = "cutadapt/1.9.1-foss-2017a-Python-2.7.13"
    }

    $trim_4N {
        queue = 'work'
        time = '4m'
        memory = '50 MB'
    }

    $bowtie_hairpins {
        module = "Bowtie/1.1.2-foss-2017a:Mawk/1.3.4-20150503:SAMtools/1.4-foss-2017a"
        cpus = 4
        queue = 'work'
        time = '50m'
        memory = '1 GB'
        penv = "smp"
    }

    $post_alignment {
        queue = 'work'
        time = '4m'
        memory = '1.5 GB'
        module = "SAMtools/1.4-foss-2017a"
    }

    $writeJson {
        queue = 'work'
        time = '0.5s'
        memory = '50 MB'
        module = "Python/2.7.13-foss-2017a"
    }
}
