process {
    executor = "sge"

    $installPackages {
        module = "R/3.4.0"
    }

    $extractFlybaseAnnos {
        module = "R/3.4.0"
    }

    $extractHairpins {
        module = "bedtools/2.26.0"
    }

    $makeIndex {
        module = "bowtie/1.2"
    }
    $trim_adapter {
        module = "python/2.7.3"
    }
    $bowtie_hairpins {
        module = "bowtie/1.2:mawk/1.3.4-20150503:samtools/1.4"
        cpus = 4
        penv = "smp"
    }
    $post_alignment {
        module = "samtools/1.4"
    }
    $writeJson {
        module = "python/2.7.3"
    }
}
