params {
    genomes {
        "dm6old" {
            hairpin = "/groups/ameres/Reichholf/sequencing/ref-seq/r6.08/dmel_r6.08_FB2015_05/fasta/dmel-all-pre_miRNA-r6.08_ext.fa"
            bowtie = "/groups/ameres/Reichholf/sequencing/ref-seq/r6.08/dmel_r6.08_FB2015_05/index/bowtie"
            fasta = "/groups/ameres/Reichholf/sequencing/ref-seq/r6.08/dmel_r6.08_FB2015_05/fasta/dmel-all-chromosome-r6.08.fasta"
        }
        "dm6" {
            fasta = "/groups/ameres/bioinformatics/references/dme/dm6/current/sequence/dmel-all-chromosome-current.fasta.gz"
            ucscNames = "/groups/ameres/bioinformatics/references/dme/dm6/current/annotation/nameConversion.txt"
            genomeAnno = "/groups/ameres/bioinformatics/references/dme/dm6/current/annotation/genes/dmel-all-current.gtf"
            mirArmAnno = "/groups/ameres/bioinformatics/references/dme/dm6/current/annotation/smallRNA/mir_arm_positions.tsv"
            cisNATAnno = "/groups/ameres/bioinformatics/reference/dme/dm6/current/annotation/smallRNA/cisNATs.bed"
            structLociAnno = "/groups/ameres/bioinformatics/reference/dme/dm6/current/annotation/smallRNA/structuredLoci.bed"
            repeatAnno = "/groups/ameres/bioinformatics/reference/dme/dm6/current/annotation/smallRNA/UCSC-RepeatMasker.txt"
        }
    }
    output {
        base_dir = "results/"
        dirs {
            rawAlignment = "bowtie/"
            sortedAlignment = "bowtie-sorted/"
            json = "json/"
            stats = "stats/"
            reports = "reports/"
            ref = "reference/"
        }
    }
}
